<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Listado de contacto{% endblock titulo %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% block cuerpo %}
    <h1>Template de listado</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>OPCION</th>
        </tr>
        </thead>
        <tbody>
            {% for persona in object_list %}
            <tr>
                <td>{{persona.nombre}}</td>
                <td>{{persona.apellido}}</td>
                <td>{{persona.correo}}</td>
                <td><a href="{% url 'editar_persona' persona.id %}">Editar</a> <a href="{% url 'eliminar_persona' persona.id %}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock cuerpo %}
</body>
</html>